div:first-of-type
{
   background-color: #71149B;
   min-width: 500px;
   height: 100px;
}

div > p
{
	text-align:left;
	font-size: 30pt;
	font-family: 'Oswald', sans-serif;
	margin:0;
	padding-left:2.5%;
}

#author
{
   font-size: 16pt;
   padding-left:5%;
}

body
{
   font-family: 'PT Sans', sans-serif;
   min-width:708px;
   min-height:1163px;
   max-height: 1500px;
   background-color:#DB9CFF;

   overflow:hidden;
}

body > p
{
   margin:0;
   padding-left:4%;
   padding-right:6px;
   padding-top:6px;
   padding-bottom:6px;

   width:70%;
   min-width:500px;
   max-width:1200px;

   font-size:12pt;
   font-weight: 400;
   line-height:20px; 
}

body > p:nth-of-type(even)
{
	background-color:#9556B5;
}

#good-design
{
	padding-left:1.25%;
	padding-top:3%;
	padding-bottom:12pt;
	font-size:26pt;
	font-weight: 700;
	color:#71149B;
}

#banner
{
   background-color:#DB9CFF;
   float:right;
   width:30%;
   height:1163px;
   overflow:hidden;
}

img
{
   height:120vh;
   min-height:620px;
}

span
{
   color:#71149B;
   font-weight: 700;
}
